<%= if game_initializing?(@tally) do %>
    <div class="alert alert-info" style="text-align:center;">
      eeeeestá valendo!
    </div>
<% else %>
    <%= game_state(@tally.game_state) %>
<% end %>

<div class="row">
  <div class="col-md-4">
    <%= render "_gallows.html", left: @tally.turns_left %>
  </div>
  <div class="col-md-7 offset-md-1">
    <%= render "_status.html", tally: @tally, conn: @conn %>
  </div>
</div>
